/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Izzy Pascua and this is the beginning of my CONTACT PAGE GRC 201 Desktop Publishing November 2020 ------------ */


/* --splitscreen-- */

.split {
    height: 100%;
    overflow-x: hidden;
}


.left {
    left: 0;
    height: 100%;
    width: 70%;
    position: absolute;
    text-align: left;
    background: url(images/california_map.jpg)
        no-repeat;
    background-size: cover;
    background-position: right bottom;
    padding: 2px;    
}


.right {
    right: 0;
    background-color:#E5E5E5;
    height: 100%;
    width: 30%;
    position: fixed;  
}




/* --fonts-- */

h1 {
    font-family: chantal, sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #000;
    position: absolute;
    top: 50%;
    right: 0%;
    width: 100%;
    text-align: justify;
    text-align: center;
}


p {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    line-height: 1.2;
    position: absolute;
    top: 18%;
    right: 63%;
    width: 25%;
    background-color: rgb(255, 255, 255, 0.75);
    padding: 20px;
}
    



/* --sidebar-- */
#logoright {
    position: absolute;
    top: 10%;
    right: 27%;
    width: 43%;
    height: auto;
}


nav{
    position: absolute;
    top:70%;
    right: 28%;
    width: 40%;
    text-align:center; 
}


nav li {
    display:inline;
}


nav a{
    font-family: brandon-grotesque; 
    font-weight: 400;
    display: inline-block;
    padding: 10px;
    text-transform:uppercase;
    text-decoration:none;
    color:#000;
    margin:0 15px;
    letter-spacing:1px;
    position:relative;
}

 
nav a:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    background:#D19FCC;
    top:47%;
    animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}


nav a:hover:before{
    animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}


@keyframes in{
    0%{
        width: 0;
        left:0;
        right:auto;
    }
    100%{
        left:0;
        right:auto;
        width: 100%;
    }
}


@keyframes out{
    0%{
        width:100%;
        left: auto;
        right: 0;
    }
    100%{
        width: 0;
        left: auto;
        right: 0;
    } 
}
