/*CSS document*/

/* Colors */
:root{
    --white: #F8F8F8;
    --black: #1E1E1E;
    --gray: #85888C;
    --yellow: #FFE46E;
    --orange: #F8B34C;;
    --red: #FF6C5C;
    --light-blue: #4499DA;
    --dark-blue: #00518F;
}


/* Reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}


/* Universal Settings */
body {
    background-color: var(--white);
    box-sizing: border-box;
}

h1, h2, h3, h4{
    color: var(--black);
    font-family: "owners-wide", sans-serif;
    font-weight: 800;
    font-style: normal;
}

h1{
    margin: 0rem 0rem 0.9rem 0rem;
}

h2{
    font-size: 2rem;
}

h3{
    color: var(--red);
    font-size: 1.5rem;
}

h4{
    font-size: 1.3rem;
}

p, button{
    font-color: var(--black);
    font-family: "museo-sans", sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 500;
    font-style: normal;
}

figure{
    font-color: var(--black);
    font-family: "museo-sans", sans-serif;
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 500;
    font-style: normal;
}


/* Nav Bar */
.title{
    font-size: 2rem;
    line-height: 2.2rem;
}

.navigation{
    border-bottom: 1px solid var(--gray);
    padding: 0rem 1rem 0rem 2rem;
    display: flex;
    justify-content: start; 
    height: 5rem;
    background-color: var(--white);
}

nav .navbar1 h1{
    font-family: "owners-wide", sans-serif;
    font-weight: 800;
    color: var(--black);
    font-size: 1.4rem;
    padding: 1.4rem 1rem 0rem 1.25rem;
    align-content: ;
}

nav .navbar2{
    display: none;
}

.logo{
    max-width: 2.75rem;
    padding: 1.25rem 0rem;
}

nav .nav-list {
    padding: 0.5rem 0rem;
    display: flex;
    font-size: 0.9rem;
}

nav .nav-list .nav-item{
    cursor: pointer;
    height: 100%;
    padding: 0rem 1.10rem;
    transition: 0.4s;
}

nav .nav-list .nav-item:hover{
    background: var(--yellow);
}

nav .nav-list .nav-link{
    color: var(--black);
}

ul.nav-list{
    font-color: var(--white);
    font-family: "museo-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 1rem;
    line-height: 4rem;
}

/* Styling Hamburger */
nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 1.6rem -0.5rem 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar{
    width: 2rem;
    height: 0.15rem;
    margin-bottom: 0.6rem;
    background-color: var(--black);
    border-radius: 10%;
    transition: 0.4s;
}

/* Nav Bar Checkbox */
input{
    display: none;
}

input:checked ~ nav .nav-list{
    transform: translateY(0%);
    z-index: 1;
}

input:checked ~ nav .navbar-toggler {
    margin-top: 2.5rem;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}


/*Hero images.*/
.hero{
    position: relative;
}

.hero-image{
    height: 42rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-title, .hero-subtitle, .hero-button{
    margin-left: 2.5rem;
    text-align: left;
}

.hero-subtitle{
    font-size: 1.75rem;
    max-width: 60em;
    color: var(--white);
    background-color: var(--red);
    padding: 0.3rem 0.6rem;
    position: absolute;
    top: 68%;
}

.hero-title {
    font-size: 1.75rem;
    color: var(--white);
    position: absolute;
    top: 77%;
}

.hero-button{
    background: none;
    color: var(--white);
    position: absolute;
    top: 83%;
    cursor: pointer;
}


/* Latest Stories, Archived Stories, Editor's Pick */
main.main{
    margin: auto;
}

div.stories-container, div.archives-container, div.editor-container{
    margin: 3rem auto;
}

.tag-history{
    color: var(--dark-blue);
}

.tag-ating{
    color: var(--light-blue);
}

.tag-kasayahan{
    color: var(--orange);
}

.tag-modern{
    color: var(--gray);
}

.tag-pcn{
    color: var(--red);
}

.tag-history, .tag-ating, .tag-pcn, .tag-kasayahan, .tag-modern{
    text-transform: uppercase;
    line-height: 1.2rem;
    font-size: 0.75rem;
    font-weight: 700;
}

.latest-stories-main img, .latest-stories img, .editor-stories img, .archived-stories img, .photogallery img{
    padding: 1.5rem 0rem 0rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.latest-stories-main img, .latest-stories img, .editor-stories img{
    max-height: 15rem;
}

.archived-stories img{
    max-height: 6rem;
}

.story-button{
    font-size: 1.1rem;
    line-height: 1.7rem;
    background: none;
    color: var(--gray);
    cursor: pointer;
}

footer{
    margin-top: 5rem;
    padding: 1rem 0rem 2rem;
    border-top: 1px solid var(--black);
    text-align: left;
}

footer p{
    padding: 0rem 2rem;
    margin: auto;
}

/* Article */

div.article-container{
    max-width: 40em;
    margin: auto;
    padding: 0rem 0rem 3rem 0rem;
}

div.article-title, div.article-caption{
    max-width: 40em;
    margin: auto;
}

div.article-title h2{
    padding: 4rem 0rem 0rem 0rem;
}

div.article-title p{
    padding: 0rem 0rem 2rem 0rem;
}

.article-image{
    margin: auto;
    display: block;
    min-height: 30rem;
    width: 70em;
    object-fit: cover;
}

.in-article-images{
    max-height: 20rem;
    padding: 1rem 0rem 0rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

div.article-caption{
    padding: 0.3rem 0rem 0rem;
    margin: 0rem auto 2rem;
    border-bottom: 1px solid var(--gray);
    height: 4rem;
}

div.article-caption p{
    font-size: 0.8rem;
}

figcaption{
    margin: 0rem 0rem 2rem;
    font-size: 0.8rem;
}

/* Photogallery */
img {
    width: 100%;
}

div.gallery-container{
    max-width: 40em;
    margin: auto;
}

main.photo-container{
    position: relative;
    overflow: hidden;
    padding-bottom: calc(72% + 3em);
}

figure.photo-figure{
    margin: 0;
    width: calc(100%-2em);
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
}

figcaption.photo-caption{
    font-size: 1.2em;
    font-weight: bold;
    color: var(--gray);
}

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    opacity: 1;
}

nav.photo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2em;
}

input {
    display: none;
}


/* Aside */
div.aside-container{
    margin: 4rem 0rem 0rem;
}

div.aside-container p{
    font-weight: 700;
    color: var(--red);
}

.aside-stories img{
    padding: 1.4rem 0rem 0rem 0rem;
    max-height: 8rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Subscibe */
section.personal-info ul li {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

section.personal-info ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
    flex: 1 0 30em;
    box-sizing: border-box;
}

section.personal-info ul li label {
    flex: 4 0 10em;
}

section.agreement ul {
    display: flex;
    flex-wrap: wrap;
    }

section.agreement ul li {
    flex: 2 0 15em;
    }

ul.form {
    padding: 0;
    list-style-type: none;
    font-color: var(--white);
    font-family: "museo-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    font-size: 1rem;

}

input.form{
    font-family: "museo-sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    font-style: normal;
    padding: 1rem;
    margin-right: 0.2rem;
    display: inline-block;
    vertical-align: middle;
}

button.form{
    font-family: "museo-sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    padding: 1rem;
    margin-top: 1rem;
}

/*Grid*/
@media (min-width: 60em){
    main{
        max-width: 60em;
    }

    div.stories-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 0rem 2rem;
    }

    div.latest-stories-container{
        grid-column: 1/2;
    }

    .latest-stories-main img{
        max-height: 30rem;
}

    .latest-stories{
        grid-column: 2/3;
    }

    .latest-stories img{
        max-height: 12.5rem;
    }

    div.archives-stories-container, div.aside{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0rem 2rem;
    }

    .archived-stories img{
        max-height: 12rem;
    }

    div.editor-stories{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 0rem 2rem;
    }

    .editor-stories img{
        max-height: 25rem;
    }

    .editor-text{
        padding: 1.5rem 0rem 0rem;
    }

    div.aside{
        grid-gap: 0rem 1rem;
        padding: 0rem 0rem 2rem;
    }
}


/* Responsive Tablet */
@media (max-width: 65em){ 
    .hero-subtitle{
        font-size: 1.5rem;
    }

    .hero-title {
        font-size: 1.5rem;
    }

    .navigation{
        justify-content: space-between; 
    }

    nav .nav-list{
        display: grid;
        position: absolute;
        background: var(--white);
        width: 100%;
        top: 4rem;
        left: 0;
        transform: translateY(-100%); 
        z-index: -1;
        transition: 0.6s;
    }

    nav .nav-list .nav-item {
        margin: auto;

    }

    nav .navbar-toggler {
        display: grid !important;
    } 

    nav .nav-list .nav-item:hover{
        background: var(--yellow);
        width: 23rem;
    }

    main.main{
        margin: 0.5rem 2.5rem;
    }

    .article-image{
        max-height: 20rem;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }  

    div.aside{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0rem 1rem;
        padding: 0rem 0rem 2rem;
    }
}


/* Responsive Phone */
@media (max-width: 45em){ 
    nav .navbar1{
        display: none;
    }

    nav .navbar2{
        display: block;
        font-family: "owners-wide", sans-serif;
        font-weight: 800;
        color: var(--black);
        font-size: 2rem;
        padding: 1.3rem 0rem;
    }

    .hero-button{
        top: 88%;
    }

    div.main-story-container{
        padding: 2rem;
        margin: auto;
    }

    div.article-title h2{
        padding: 1rem 0rem 0rem 0rem;
    }


    div.aside{
        display: block;
    }
}

