/*CSS document*/

/* Colors */
:root{
    --white: #F8F8F8;
    --black: #1E1E1E;
    --gray: #85888C;
    --yellow: #FFE46E;
    --red: #FF6C5C;
    --light-blue: #4499DA;
    --dark-blue: #00518F;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}


/* Universal Settings */
body {
    background-color: var(--white);
}

h1, h2, h3, h4{
    color: var(--black);
    font-family: "owners-wide", sans-serif;
    font-weight: 800;
    font-style: normal;
}

h1{
    margin: 0rem 0rem 0.9rem 0rem;
}

h2{
    color: var(--red);
}

h3{
    font-size: 1.3rem;
}

p{
    font-color: var(--black);
    font-family: "museo-sans", sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 500;
    font-style: normal;
}

figure{
    font-color: var(--black);
    font-family: "museo-sans", sans-serif;
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 500;
    font-style: normal;
}

ul{
    font-color: var(--white);
    font-family: "museo-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 1.2rem;
    line-height: 4rem;
}

/* Mobile First */
div.container {
    max-width: 40em;
    margin: auto;
}


/* I know you said don't use display: flex for this assignment, but it's the only way my hamburger nav bar will work */
/* PLEASEE scale your browser to see the hambuger menu */
/* Nav Bar */
nav{
    display: flex;
    justify-content: space-between; 
    padding: 0 15%;
    height: 5rem;
    line-height: 3rem;
    background-color: var(--white);
}

nav .navbar1{
    font-family: "owners-wide", sans-serif;
    font-weight: 800;
    color: var(--black);
    font-size: 2rem;
    padding: 1rem 0rem;
}

nav .navbar2{
    display: none;
}

nav .logo{
    max-width: 3rem;
    padding: 1rem 0rem;
}

nav .nav-list {
    padding: 1rem 0rem;
    display: flex;
}

nav .nav-list .nav-item{
    cursor: pointer;
    height: 100%;
    padding: 0rem 2rem;
    transition: 0.4s;
}

nav .nav-list .nav-item:hover{
    background: var(--yellow);
    width: 25rem;
}

nav .nav-list .nav-link{
    color: var(--black);
}


/*Hero images.*/
.hero{
    position: relative;
    text-align: center;
}

.hero-image{
    height: 42rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.hero-subtitle{
    color: var(--white);
    background-color: var(--red);
    padding: 0.4rem 0.6rem;
    position: absolute;
    top: 70%;
    margin-left: 2rem;
    text-align: left;
}

.hero-title {
    color: var(--white);
    position: absolute;
    top: 77%;
    margin-left: 2rem;
    text-align: left;
}

.hero-button{
    background: none;
    color: var(--white);
    position: absolute;
    top: 88%;
    margin-left: 2rem;
    text-align: left;
    cursor: pointer;
}


/* Latest Stories, Archived Stories, Editor's Pick */
div.stories-container, div.archives-container, div.editor-container{
    max-width: 20em;
    margin: auto;
    padding: 3rem 0rem 0rem 0rem;
}

.tag-history{
    color: var(--dark-blue);
}

.tag-ating{
    color: var(--light-blue);
}

.tag-kasayahan{
    color: var(--yellow);
}

.tag-modern{
    color: var(--gray);
}

.tag-pcn{
    color: var(--red);
}

.tag-history, .tag-ating, .tag-pcn, .tag-kasayahan, .tag-modern{
    text-transform: uppercase;
    line-height: 1.2rem;
    font-size: 0.75rem;
    font-weight: 700;
}


.latest-stories img, .editor-stories img{
    padding: 1.5rem 0rem 0rem;
    max-height: 15rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.archived-stories img{
    margin: 0;
    padding: 1.5rem 0rem 0rem ;
    max-height: 6rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.story-button{
    font-size: 1.1rem;
    line-height: 1.7rem;
    background: none;
    color: var(--gray);
    cursor: pointer;
}


/*iPad*/
/* @media (max-width: 60em){
    nav .navbar1{
        display: none;
    }

    nav .navbar2{
        display: block;
        font-family: "owners-wide", sans-serif;
        font-weight: 800;
        color: var(--black);
        font-size: 2rem;
        padding: 1rem 0rem;
    }
    
    nav {
        padding: 0rem 2rem;
    }

    nav .nav-list .nav-item{
        padding: 0rem 1rem;
}
*/


/* Phone */
@media (max-width: 40em){ 
    nav .navbar1{
        display: none;
    }

    nav .navbar2{
        display: block;
        font-family: "owners-wide", sans-serif;
        font-weight: 800;
        color: var(--black);
        font-size: 2rem;
        padding: 1rem 0rem;
    }

    nav .nav-list{
        display: grid;
        position: absolute;
        background: var(--white);
        width: 100%;
        top: 4rem;
        left: 0;
        transform: translateY(-100%); 
        z-index: -1;
        transition: 0.6s;
    }

    nav .nav-list .nav-item {
        margin: auto;

    }

    nav .navbar-toggler {
    display: grid !important;
}
}


/* Styling Hamburger */
nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 1.6rem -0.5rem 0 0;
    cursor: pointer;
}

nav .navbar-toggler .bar{
    width: 2rem;
    height: 0.15rem;
    margin-bottom: 0.6rem;
    background-color: var(--black);
    border-radius: 10%;
    transition: 0.4s;
}


/* Checkbox */
input{
    display: none;
}

input:checked ~ nav .nav-list{
    transform: translateY(0%);
    z-index: 1;
}

input:checked ~ nav .navbar-toggler {
    margin-top: 2.5rem;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}


/* Article */
div.article-title, div.article-container{
    max-width: 24em;
    padding: 2rem 0rem 0rem 0rem;
    margin: auto;
}

.in-article-images{
    max-height: 15rem;
    padding: 1rem 0rem 0rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.article-caption{
    max-width: 30em;
    margin: auto;
}

.article-image{
    margin: 1rem 0rem 0rem;
    height: 30rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

figcaption{
    margin: 0rem 0rem 1rem;
}

div.aside{
    margin: 4rem 0rem -5rem;
}

div.aside p{
    font-weight: 700;
    color: var(--red);
}

.aside-stories img{
    padding: 1.4rem 0rem 0rem 0rem;
    max-height: 6rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


footer{
    margin: 5rem 2rem 0rem;
    padding: 2rem 0rem 2rem;
}

